.beorgo-navbar ul li a{
  color:#000000bd;
}
.beorgo-navbar ul li {
  padding: 10px 20px;
}
.white-text h4, .white-text h6{
  color:#fff;
}
.white-text h6{
  padding-top:10px;
}
/* feature code */
.p_5{
  padding:5%;
}

.feature_container{
  background: #000000;
  /* background-image: url("../../../assets/img/Group1713.png"); */
}
.image_fit{
  width:150px;
}
.image_fit img{
  padding:10px;
}
.feature_container .container .row .col-md-3 h6, .feature_container .container .row .col-md-3 p{
color:#fff;
}
.image_bottom{
  margin-top:10px;
}
.second_li{
 text-align:left;
 padding-left:10px;

}
/* testimonial slider */
.card .carousel-item {
  height: 200px;
}
.card .carousel-caption {
  padding: 0;
  right: 0;
  left: 0;
  color: #3d3d3d;
}
.card .carousel-caption h3 {
  color: #3d3d3d;
}
.card .carousel-caption p {
  line-height: 30px;
}
.card .carousel-caption .col-sm-3 {
  display: flex;
  align-items: center;
}
.card .carousel-caption .col-sm-9 {
  text-align: left;
}
.navi a {
    text-decoration:none;
}
a > .ico {
    background-color: grey;
    padding: 10px;

}
a:hover > .ico {
    background-color: #666;
}
.what_we_do_container{
  background-image: url("../../../assets/img/Group1703.png");
  background-position: center;
}
.testinmonial {
  background-image: url("../../../assets/img/Group1713.png");
  background-position: center;
}
.navbar-nav .nav-item .nav-link {
  letter-spacing: 0px;
    color: #060606;
    opacity: 1;
    font-weight: 800;
    padding: 10px 40px;
   font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    ;
}
.testinmonial .container h6 , .testinmonial .container h4{
    color:#ffff;
}
.form-rounded {
  border-radius: 1rem;
  }
.subcribe_row{
  display: flex;
    justify-content: center;
    margin-top: 20px;
}
.btn-subscribe{
  background:#619E1B;
  color:#fff;
  border-radius:2rem;
}
.footer_sec{
  background-image: url("../../../assets/img/MaskGroup2.png");
  /* background-position: center; */
}
.page-footer .container h5 , .page-footer .container ul li a ,.page-footer .container p, .footer-copyright ul li .fa,.page-footer .container p, .footer-copyright span{
 color:#FFFFFF;
}

.pb-pt-10-4{
  padding-top: 10.5rem !important;
    padding-bottom: 3rem !important;
}
.footer-copyright ul li{
  display: inline-block;
  list-style-type: none;
  padding:10px;
}

